* {
    margin: 0;
    padding: 0;
}


/* Header principal */
.header-container {
    background-color: #242936;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 14px
}

.logo img {
    height: 55px;
}

.menu {
    place-content: center;
    display: flex;
    list-style: none;
}

.menu li {
    padding: 17px 30px;
}

.menu li a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
}

.menu a:hover {
    color: #ffffff;
    transition: .8s;
}

/* Content principal [Segurando tudo]*/
.content-container-1 {
    background-color: #242936;
}

.box-principal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 53px;
}

/* Bubble */
.bubble {
    background-image: linear-gradient(138deg,rgba(43,80,237,.7) 8%,#2b50ed 92%);
    height: 800px;
    width: 800px;
    border-radius: 400px;
    display: inline-block;
}

.background-bubble {
    position: absolute;
    left: 80%;
    top: -6em;
}

.content-container-1 {
    position: relative;
    overflow: hidden;
}

/* Titulo principal */
@font-face {
    font-family: 'Ample Soft Pro Medium';
    src: url('fonts/AmpleSoftProMedium.ttf') format('truetype');
 }

.titledivul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 165px 70px 165px 0;
}

.maintitle span {
    color: white;
    font-family: 'Ample Soft Pro Medium';
    font-weight: 500;
    font-size: 46px
}

.maindescription {
    margin-top: 18px;
}

.maindescription span {
    color: rgb(162, 175, 189);
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

/* animated text */
.animated {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode:lighten;
    background: #2b50ed;
    animation: animated 5s ease-in-out infinite;
    transition: 5s;
}

@keyframes animated {
    0% {
        transform: scale(6.1) translateY(0px);
        border-radius: 50%;
    }
    33% {
        transform: scale(6.1) translateY(7px);
        background-color: rgb(4, 205, 255);
        border-radius: 10%;
    }
    66% {
        transform: scale(6.1) translateX(6px);
        background-color: rgb(0, 132, 255);
        border-radius: 50%;
    }
    100% {
        transform: scale(6.1) translateY(0px);
        border-radius: 50%;
    }
}

.maintitle:hover ~ .animated {
    position: absolute;

    background: none;
    background-color: none;
    opacity: 0;
    transition: 0s;
    animation: animated2 2s cubic-bezier(0.44, 0.49, 0.54, 0.56) infinite;
}

@keyframes animated2 {
    0% {
        transform: scale(6.1) translateY(-8px);
    }
    33% {
        transform: scale(6.1) translateY(0px);
        background-color: rgb(4, 205, 255);
    }
    66% {
        transform: scale(6.1) translateY(8px);
        background-color: rgb(0, 132, 255);
    }
    100% {
        transform: scale(6.1) translateY(-8px);
    }
}


/* cursor */
.cursor {
    position: sticky;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode:lighten;
}

.maintitle:hover ~ .cursor {
    background: #2b50ed;
    transition: 0s;
    transition-delay: 0s;
    transform: scale(6.1) translateY(-16px);
}

/* Botao de contato */
.contacts {
    margin-top: 52px;
    display: inline-flex;
}

.btn-contact {
    background-color: rgb(13, 78, 218);
    box-shadow: 0 14px 30px 0 rgb(43 80 237 / 20%);
    border-radius: 4px;
    padding: 12px 40px;
}

.btn-contact:hover {
    background-color: rgb(31, 110, 255);
    transition: .2s;
}

.btn-contact a {
    text-decoration: none;
}

.btnctt {
    color: white;
    font-size: 18px;
    font-family: 'Ample Soft Pro Medium';
}

/* Redes sociais ao lado do botao contato */
.social-media {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
}

.social-media a {
    height: 35px;
}

.social-media img {
    height: 21px;
}

.icon {
    background-color: rgb(19, 93, 255);
    border-radius: 8px;
    padding: 7px;
    margin: 0 7px;
}

.icon:hover {
    background-color: rgb(48, 46, 46);
    transition: .2s;
}

/* Illutrator */
.ad-illustration svg {
    margin-top: 150px;
    transform: scale(1.5) translateY(0px);
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: scale(1.5) translateY(-14px);
    }
    50% {
        transform: scale(1.5) translateY(6px);
    }
    100% {
        transform: scale(1.5) translateY(-14px);
    }
}



/* Content 2 */
.content-container-2 {
    background-color: #242936;
}

/* Stacks */
.stacks-container {
    margin: 0 243px;
    padding-bottom: 145px;
}

.stacks-title {
    color: #808590;
    font-family: 'Ample Soft Pro Medium';
    text-align-last: start;
    font-size: 33px;
    padding: 60px 0 30px 50px;
}

.stacks-box li {
    display: grid;
    background-color: rgb(42 48 65);
    padding: 22px 47px;
    margin: 0 21px;
    border-radius: 30px;
}

.stacks-box img {
    height: 80px;
    width: 80px;
}


/* Sobre */
.descme {
    color: #ffffff;
    font-family: 'Ample Soft Pro Medium';
}
.descme span{
    color: #0077ff;
}

.box-about {
    display: flex;
    padding: 98px 279px 0 279px;
}

.about h1 {
    color: white;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
}

.about h2 {
    color: #2b50ed;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
    padding-left: 18px;
}

.about-description {
    padding: 18px;
}

.about-text {
    color: #a6aab5;
    font-size: 16px;
    font-family: 'Ample Soft Pro Medium';
}

/* Perfil */
.box-perfil {
    background-color: #2b50ed;
    border-radius: 188px;
    height: 300px;
    width: 300px;
    border-top-left-radius: 69px;
}

.box-perfil img {
    width: 300px;
    border-end-end-radius: inherit;
}


/* Serviços */
.titles-box {
    text-align: center;
}

.services-title {
    color: white;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
}

.services-title span {
    color: #2b50ed;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
    padding-left: 18px;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s-item {
    background-color: #31384b;
    border-radius: 35px;
    height: 380px;
    width: 232px;
    padding: 45px;
    margin: 50px;
}

.s-item img {
    height: 80px;
}

.s-item h1 {
    color: white;
    font-family: system-ui;
    font-size: 26px;
    margin: 17px 0;
}

.s-item span {
    color: #a6aab5;
    font-family: system-ui;
}

.main {
    background-color: #2b50ed;
}


/* Responsivo */ 
@media (max-width: 1622px) {
    .box-about {
        padding: 98px 86px 0 86px;
    }

    .stacks-container {
        margin: 0 94px;
    }
}

@media (max-width: 1229px) {
    .maintitle span {
        font-size: 35px;
    }

    .ad-illustration svg {
        height: 232px;
    }
}

@media (max-width: 1067px) {
    .maintitle span {
        font-size: 50px;
    }

    .ad-illustration svg {
        display: none;
    }
}

@media (max-width: 840px) {
    .about span {
        font-size: 78%;
    }
    .about h1 {
        font-size: 178%;
    }
    .about h2 {
        font-size: 178%;
    }

    .box-perfil {
        height: 241px;
        width: 246px
    }
    .box-perfil img {
        width: 253px;
    }
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }

    .titledivul {
        padding: 126px 0px 164px 0;
    }

    .animated {
        height: 10px;
        width: 10px;
    }

    .maintitle span {
        font-size: 28px;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
    }

    .btn-contact {
        margin: 43px 0;
    }

    .box-about {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 98px 17px 0 17px;
    }
}

@media (max-width: 590px) {
    .btnctt {
        font-size: 13px;
    }
    .ad-illustration svg {
        height: 149px;
    }
    .stacks-container {
        margin: 0;
    }
}

@media (max-width: 405px) {
    .s-item {
        margin: 21px 12px;
        height: 324px;
    }
    .s-item img {
        height: 70px;
    }
    .s-item h1 {
        font-size: 20px;
    }
    .s-item span {
        font-size: 15px;
    }
}

/* Projetos */
.project-container {
    padding: 105px 0;
}

.titles-box {
    text-align: center;
}

.project-title {
    color: white;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
    margin-bottom: 33px;
}

.project-title span {
    color: #2b50ed;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
    padding-left: 18px;
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.p-item {
    background-color: #31384b;
    border-radius: 20px;
    margin: 22px;
    display: inline-block;
}

.p-item:hover {
    background-color: #2b50ed;
}

.p-item img {
    height: 300px;
    width: 280px;
    border-radius: 15px;
}

.p-item h1 {
    color: white;
    font-family: system-ui;
    font-size: 18px;
    padding: 6px 0 0 20px;
}

.p-item h2 {
    color: #98a4b1;
    font-family: 'Ample Soft Pro Medium';
    font-size: 15px;
    font-weight: 100;
    padding: 8px 0 11px 20px;
}

@media (max-width: 380px) {
    .p-item {
        margin: 16px;
    }
}



/* Contatos */
.contact-container {
    background-color: #1e212c;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 55px 0;
}

.contact-information {
    margin: 91px 0;
    align-self: center;
}

.logo-box {
    text-align-last: center;
}

/* colunm 1 */
.conf {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conf a {
    display: contents;
}

.conf svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    height: 33px;
    width: 33px;
}

.conf span {
    font-family: 'Ample Soft Pro Medium';
    color: white;
    margin-left: 11px;
}

/* colunm 2 */
.contact-title {
    color: white;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
}

.contact-title span {
    color: #2b50ed;
    font-size: 43px;
    font-family: 'Ample Soft Pro Medium';
    padding-left: 10px;
}

.email form {
    display: grid;
    text-align: center;
}

.email-inputs input {
    width: 80%;
    max-width: 1200px;
    margin: 0 0 12px 0;
    padding: 8px 12px 8px 12px;
    background-color: #dfdfdf;
    font-family: 'Ample Soft Pro Medium';
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.message textarea {
    width: 80%;
    max-width: 1200px;
    margin: 0 0 12px 0;
    padding: 8px 12px 8px 12px;
    background-color: #dfdfdf;
    font-family: 'Ample Soft Pro Medium';
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.submit input {
    width: 80%;
    max-width: 1200px;
    margin: 0 0 12px 0;
    padding: 8px 12px 8px 12px;
    background-color: #2b50ed;
    font-family: 'Ample Soft Pro Medium';
    font-size: 18px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}


/* Final */
.end-container {
    background-color: #2b50ed;
    font-family: 'Ample Soft Pro Medium';
    color: white;
    text-align: center;
    padding: 5px;
}